<% include partials/header %>

<div class="container">

    <div class="page-header text-center">
        <h1><i class="mdi mdi-anchor"></i> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><i class="mdi mdi-account"></i> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %><br>
                        <strong>profileImg</strong>: <%= user.profileImg %><br>
                        <strong>gamerTag</strong>: <%= user.gamerTag %><br>
                    </p>

            </div>
        </div>

    </div>

</div>

<% include partials/footer %>

